.slider div{
    height: 350px
}
.slider .slider_title {
    background-color: #ffffff;
    width: 464px;
    height: 591px;
    margin: 0px;
    display: inline-block;
    vertical-align:top;
}
.slider .slider_card {
    background-color: #ffffff;
    width: 404px;
    height: 591px;
    margin: 0px;
    display: inline-block;
    vertical-align:top;
}

.slider{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.desc{
  white-space: normal;
}
