img{
  width: 100vw;
}
#back{
  margin:0;
  padding:0;
  transition: all .3s ease-out;
  cursor:pointer;
  width:30px;
  height: 30px;
  position:fixed;
  right:0px;
}
.css-cancel {
    display: inline-block;
    position: relative;
    margin: 0 20px 0 7px;
    padding: 0;
    width: 4px;
    height: 20px;
    background: #000;
    transform: rotate(45deg);
}
.css-cancel:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 20px;
    height: 4px;
    margin-top: -2px;
    background: #000;
}

.slider div.detail{
  padding-right: 20vw;
  padding-left: 3.6vw;
  padding-top: 11.7vw;
}
.slider div.detail.hidden{
    visibility: hidden;
    float:none;
    display: none;
    width:0px;
    height: 0px;
}
.slider div.detail.description{
  padding-left: 8.1vw;
  padding-right: 8.1vw;
  padding-bottom: 5.4vw;
  padding-top:5.4vw;
  order:3;
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  box-ordinal-group: 3;
  display:table-cell;

}
.slider div.detail.hidden{
  display: none;
}
.slider div.detail_image{
  padding:0px;
  order:2;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  box-ordinal-group: 2;
  display:table-header-group;
}
.slider div.detail_title{
  padding-left: 6.7vw;
  padding-right: 5.7vw;
  padding-bottom: 4.7vw;
  order:1;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1;

}
.detail_title_ko{
  font-family: SpoqaHanSans;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
}
.detail_title_en{
  font-family: SpoqaHanSans;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #aaaaaa;
}

.preimg{
    display:flex;
    flex-flow: column;
    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}
.desc_title{
  font-family: SpoqaHanSans;
  font-size: 4.6vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
}
.desc_en{
  white-space: normal;
  font-family: SpoqaHanSans;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}
.desc_info{
  font-family: SpoqaHanSans;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}
