.slider div.preimg{
    width: 891px;
    height: 754px;
}
div.detail_image{
  width: 795px;
  height: 754px;
}

.slider div.detail{
  width:385px;
  height: 667px;
  padding-right: 150px;
  padding-left: 27px;
  padding-top: 87px;
}
.slider div.detail.hidden{
    visibility: hidden;
    float:none;
    display: none;
    width:0px;
    height: 0px;
}
.slider div.detail.description{
  padding-left: 60px;
  padding-right: 118px;
  width: 385px;
}
.slider div.detail_image{
  padding:0px;
}
.slider div.detail_title{
  padding-left: 60px;
  width:400px;
  padding-right: 70px
}
.detail_title_ko{
  font-family: SpoqaHanSans;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
}
.detail_title_en{
  font-family: SpoqaHanSans;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #aaaaaa;
}

.desc_title{
  font-family: SpoqaHanSans;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
}
.desc_en{
  white-space: normal;
  font-family: SpoqaHanSans;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}
.desc_info{
  font-family: SpoqaHanSans;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}
