div .name_ko{
  position: relative;
  font-family: SpoqaHanSans;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
}

div .name_en{
  position: relative;
  font-family: SpoqaHanSans;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}

div .position{
  position: relative;
  font-family: SpoqaHanSans;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}

div .desc{
  position: relative;
  font-family: SpoqaHanSans;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}

.slider .content_profile{
  font-family: SpoqaHanSans;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
}

.slider .content_about {
  font-family: SpoqaHanSans;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #aaaaaa;
}

.slider_card{
  padding: 50px;
}

.slider .title_content {
  margin-top: 86px;
}

.slider .empty {
    height: 200px;
}
