.info_t{
  margin-left: 80px;
  margin-top: 173px;
  margin-bottom: 17px;
  font-family: SpoqaHanSans;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
}
.info{
  margin-left: 80px;
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
  float: left;
}
.info2{
  margin-left: 22px;
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  float: left;
}

.slider .slider_title {
  background-color: white;
  margin-left: 60px;
  font-size: 18px;
  vertical-align: top;
}
.slider .slider_title .main {
  font-family: SpoqaHanSans;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
}
.slider .slider_title .sub {
  font-family: SpoqaHanSans;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #aaaaaa;
}
.slider .slider_card {
  vertical-align: top;
}
.slider .slider_map {
  background-color: #fafafa;
  width: 408px;
  height: 350px;
  padding: 0;
  margin: 0px;
  display: inline-block;
}
